@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&family=Lato&display=swap');

/*-- scss:defaults --*/
$body-bg: white;
$body-color: #040f12;
// $link-color: #586C90;
$link-color: #9B6A6C;
$input-bg: #9B6A6C;
$code-block-bg: #f9f9f9;
$code-bg: #f9f9f9;
$code-color: #9B6A6C;
$popover-bg: #a5c5a9;
$font-family-sans-serif: 'Lato', sans-serif;
// $progress-bg: #BEC6ff;
$callout-color-note: #BEC6ff;
$callout-color-tip: #a5c5a9;
$callout-color-caution: #f1b06c;
$callout-color-warning: #FFEAB6;
$callout-color-important: #9B6A6C;
$primary-color: #BEC6ff;

/*-- scss:rules --*/
h1 {
    font-family: 'IM Fell DW Pica';
    color: #464D54;
}
h2 {
    font-family: 'IM Fell DW Pica';
    color: #464D54;
}
h3 {
    font-family: 'IM Fell DW Pica';
    color: #464D54;
}
.subtitle {
    font-family: 'IM Fell DW Pica';
    font-style: italic;
    color: #464D54;
}
.quarto-title-meta-heading {
    font-family: 'IM Fell DW Pica';
    color: #464D54;
}
.quarto-title-meta-contents {
    font-family: 'IM Fell DW Pica';
    font-style: italic;
    color: #464D54;
}
figcaption {
    font-family: 'Lato';
    color: #464D54;
}